--- # Start
name: {name}

# Timeout about program repair(second)
time-out: {time_out}

# Command to build user's project
test-build-command: |
{test_build_command}

# Command to build user's project with coverage measurement
coverage-build-command: |
{coverage_build_command}


test-list: | # Test commands list
{test_list}

# Get the command from test-list and run each of them
test-command: | # Run tests
{test_command}

test-coverage-command: | # Run coverage tests
{test_coverage_command}
