name: taxonomy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  taxonomy:
    strategy:
      fail-fast: false
      matrix:
        taxonomy:
          [
            coreutils,
            cppcheck,
            example,
            libchewing,
            libsndfile,
            libssh,
            libtiff,
            libtiff_sanitizer,
            libucl,
            libxml2,
            openssl,
            proj,
            wget2,
            wireshark,
            xbps,
            yara,
            zsh,
          ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker-practice/actions-setup-docker@master
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Test taxonomy
        run: |
          # Currently it does not work as expected due to permission issue in runner.
          # https://github.com/actions/runner/issues/434
          # https://github.com/actions/runner/issues/1317
          python -m pip install --upgrade pip
          pip install -r requirements_dev.txt
          mkdir mydir
          PYTHONPATH=defects4cpp/ python -m pytest --basetemp=mydir --auto-cleanup -k test_${{ matrix.taxonomy }}
